* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunitoregular.woff);
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunitobold.woff);
  font-weight: bold;
}

body {
  font-family: Nunito, sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  flex-shrink: 0;
  background: #F7F7F7;
  padding: 17px;
}

.logo {
  padding: 8px 0 27px 0;
  text-align: center;
  display: block;
}

.navigation {
  color: #858796;
  fill: #858796;
}

.navigation-item svg {
  margin-right: 10px;
}

.navigation ul {
  list-style: none;
}

.navigation-item a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 16px 20px;
  color: inherit;
  font-size: 14px;
  line-height: normal;
}

.navigation-item.active {
  border-radius: 5px;
  background: #467DF2;
  color: #FFF;
  fill: #FFF;
}

.navigation-item:hover {
  border-radius: 5px;
  background: #467DF2;
  color: #FFF;
  fill: #FFF;
}

.sidebar-contents {
  max-width: 216px;
  max-height: 178px;
  padding: 13px 12px;
}

.sidebar-image {
  float: left;
  margin-right: 6px;
}

.sidebar-text {
  color: #4F4E4F;
  font-size: 14px;
  line-height: normal;
}

.sidebar-contents:hover {
  border-radius: 5px;
  border: 1px solid #467DF2;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.content {
  flex-grow: 1;
  position: relative;
}

.menu {
  display: flex;
  position: relative;
}

.menu-item-open {
  fill: #4F4E4F;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}

.menu-item-open:hover {
  fill: #3D63D2;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items a {
  display: flex;
  text-decoration: none;
  color: #858796;
  font-size: 14px;
  line-height: normal;
  margin-left: 40px;
  fill: #858796;
}

.tasks-button {

  border: none;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}

.menu-items a:hover {
  color: #3D63D2;
  fill: #3D63D2;
}

.tasks-button-result {
  opacity: 0;
  transition: 2s;
  position: absolute;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(102, 102, 102, 0.15);
  top: 46px;
  white-space: nowrap;
  padding: 15px 30px 30px 20px;
  z-index: 1;
}

.tasks-button-result-item {
  color: #686464;
  font-size: 14px;
  line-height: normal;
  margin-top: 15px;
  cursor: pointer;
}

.sub-menu-tasks:hover .tasks-button-result {
  display: block;
  opacity: 1;
  transition: 1s;
}

.tasks-button-result-item:hover {
  color: #3D63D2;
}

.header-tools {
  display: flex;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search-button {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #E2E2E2;
  border-right: none;
  background: #EFEFF5;
  cursor: pointer;
  padding: 12px 10px 14px 20px;
  display: flex;
}

.header-search-button svg {
  background-color: transparent;
  fill: #B3B3B3;
}

.header-search-button svg:hover {
  fill: #467DF2;
}

.header-search-input {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #E2E2E2;
  border-left: 0;
  background: #EFEFF5;
  outline: 0;
  padding: 10px 10px 10px 0;
  line-height: 145%;
  font-size: 14px;
  width: 328px;
}

.header-search-input::placeholder {
  color: #B3B3B3;
}

.header-statistics {
  display: flex;
  align-items: center;
  fill: #858796;
  margin-left: 40px;
  margin-right: 40px;
}

.header-statistics:hover {
  fill: #467DF2;
}

.header-upload {
  display: flex;
  align-items: center;
}

.header-upload-button {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  border-radius: 10px;
  background: #467DF2;
  padding: 11px 18px;
  border: none;
  cursor: pointer;
}

.header-upload-button:hover {
  background: #2F54A3;
}

.container {
  padding: 25px 76px 93px 40px;
  background: #EDEEF3;
  font-size: 0;
}

.dashboard-title {
  color: #4F4E4F;
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
}

.dashboard-video {
  border-radius: 10px;
  background: #FFF;
  max-width: 350px;
  position: relative;
  display: inline-block;
  margin-left: 33px;
  margin-top: 40px;
  cursor: pointer;
}

.dashboard-video:first-child {
  margin-left: 0;
}

.dashboard-video:hover {
  box-shadow: 0px 4px 20px 0px rgba(102, 102, 102, 0.15);
}

.video-upload-status-button {
  font-size: 14px;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 10px;
}

.video-upload-status-button.moderation {
  color: #4F4E4F;
  background: rgba(247, 247, 247, 0.80);
}

.video-upload-status-button.published {
  color: #027900;
  background-color: #C6E0C3;
}

.video-upload-status-button.error {
  color: #DB0C0C;
  background-color: #FFBCBCCC;
}

.dashboard-video-description {
  padding: 20px 27px;
  background: #FFF;
  border-radius: 10px;
}

.video-title {
  color: #4F4E4F;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
}

.video-upload-time {
  color: #4F4E4F;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 8px;
}

.dashboard-video-menu ul {
  margin-top: 18px;
  list-style: none;
  display: flex;
  align-items: center;
  fill: #858796;
}

.dashboard-video-menu a:hover {
  fill: #467DF2;
}

.dashboard-video-menu li {
  margin-left: 45px;
}

.dashboard-video-menu li:first-child {
  margin-left: 0;
}

.technical-support {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #467DF2;
  padding: 10px 20px;
  position: absolute;
  right: -73px;
  top: 401px;
}

.technical-support:hover {
  right: -68px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #2F54A3;
  padding: 10px 20px 19px 20px;
}

.technical-support-button {
  display: flex;
  fill: #FFFFFF;
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
  margin-right: 10px;
  cursor: pointer;
}

.technical-support-chat {
  display: flex;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-decoration: none;
}